In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression # Changed model to Linear Regression
from sklearn.model_selection import cross_val_score, KFold # Added for Cross-Validation
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from util.preprocess import preprocess

In [4]:
df_original = pd.read_csv('../data/train.csv')

In [5]:
df_original

,MONTH,TOWN,FLAT_TYPE,BLOCK,STREET,FLOOR_RANGE,FLOOR_AREA_SQM,FLAT_MODEL,ECO_CATEGORY,LEASE_COMMENCE_DATA,RESALE_PRICE
0,2020-10,woodlands,4 room,681B,woodlands drive 62,07 to 09,102.0,premium apartment,uncategorized,2000,420000.0
1,2021-07,bishan,4 room,264,bishan street 24,07 to 09,104.0,model a,uncategorized,1992,585000.0
2,2021-05,bukit panjang,4 room,520,jelapang road,19 to 21,102.0,model a,uncategorized,1998,450000.0
3,2021-08,punggol,4 room,121B,edgedale plains,16 to 18,93.0,model a,uncategorized,2017,465000.0
4,2023-05,hougang,5 room,997B,Buangkok Crescent,10 to 12,113.0,improved,uncategorized,2018,710000.0
...,...,...,...,...,...,...,...,...,...,...,...
162686,2017-07,hougang,4-room,708,hougang avenue 2,01 to 03,91.0,new generation,uncategorized,1985,335000.0
162687,2020-09,pasir ris,4 room,634,Pasir Ris Drive 1,04 to 06,104.0,model a,uncategorized,1995,388000.0
162688,2017-10,geylang,4-room,319,ubi avenue 1,10 to 12,84.0,simplified,uncategorized,1985,373000.0
162689,2020-08,sengkang,5 room,290B,compassvale crescent,01 to 03,110.0,improved,uncategorized,2001,420000.0
162690,2021-03,hougang,4 room,512,hougang avenue 10,01 to 03,84.0,simplified,uncategorized,1987,355000.0