In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df_dirty = pd.read_csv('../data/train.csv')
df_dirty.head()

,MONTH,TOWN,FLAT_TYPE,BLOCK,STREET,FLOOR_RANGE,FLOOR_AREA_SQM,FLAT_MODEL,ECO_CATEGORY,LEASE_COMMENCE_DATA,RESALE_PRICE
0,2020-10,woodlands,4 room,681B,woodlands drive 62,07 to 09,102.0,premium apartment,uncategorized,2000,420000.0
1,2021-07,bishan,4 room,264,bishan street 24,07 to 09,104.0,model a,uncategorized,1992,585000.0
2,2021-05,bukit panjang,4 room,520,jelapang road,19 to 21,102.0,model a,uncategorized,1998,450000.0
3,2021-08,punggol,4 room,121B,edgedale plains,16 to 18,93.0,model a,uncategorized,2017,465000.0
4,2023-05,hougang,5 room,997B,Buangkok Crescent,10 to 12,113.0,improved,uncategorized,2018,710000.0

In [4]:
df_dirty.describe()

       FLOOR_AREA_SQM  LEASE_COMMENCE_DATA  RESALE_PRICE
count   162691.000000        162691.000000  1.626910e+05
mean        96.891250          1996.358993  5.188430e+05
std         24.030547            14.245920  1.832442e+05
min         31.000000          1966.000000  1.500000e+05
25%         82.000000          1985.000000  3.820000e+05
50%         93.000000          1996.000000  4.880000e+05
75%        112.000000          2011.000000  6.220000e+05
max        366.700000          2022.000000  1.658888e+06