In [153]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Whole Dataset

In [154]:
df_dirty = pd.read_csv('../data/train.csv')
df_dirty.head()

,MONTH,TOWN,FLAT_TYPE,BLOCK,STREET,FLOOR_RANGE,FLOOR_AREA_SQM,FLAT_MODEL,ECO_CATEGORY,LEASE_COMMENCE_DATA,RESALE_PRICE
0,2020-10,woodlands,4 room,681B,woodlands drive 62,07 to 09,102.0,premium apartment,uncategorized,2000,420000.0
1,2021-07,bishan,4 room,264,bishan street 24,07 to 09,104.0,model a,uncategorized,1992,585000.0
2,2021-05,bukit panjang,4 room,520,jelapang road,19 to 21,102.0,model a,uncategorized,1998,450000.0
3,2021-08,punggol,4 room,121B,edgedale plains,16 to 18,93.0,model a,uncategorized,2017,465000.0
4,2023-05,hougang,5 room,997B,Buangkok Crescent,10 to 12,113.0,improved,uncategorized,2018,710000.0

In [155]:
df_dirty.shape

(162691, 11)

In [156]:
df_dirty.describe()

       FLOOR_AREA_SQM  LEASE_COMMENCE_DATA  RESALE_PRICE
count   162691.000000        162691.000000  1.626910e+05
mean        96.891250          1996.358993  5.188430e+05
std         24.030547            14.245920  1.832442e+05
min         31.000000          1966.000000  1.500000e+05
25%         82.000000          1985.000000  3.820000e+05
50%         93.000000          1996.000000  4.880000e+05
75%        112.000000          2011.000000  6.220000e+05
max        366.700000          2022.000000  1.658888e+06

In [157]:
df_dirty.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162691 entries, 0 to 162690
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   MONTH                162691 non-null  object
 1   TOWN                 162691 non-null  object
 2   FLAT_TYPE            162691 non-null  object
 3   BLOCK                162691 non-null  object
 4   STREET               162691 non-null  object
 5   FLOOR_RANGE          162691 non-null  object
 6   FLOOR_AREA_SQM       162691 non-null  float64
 7   FLAT_MODEL           162691 non-null  object
 8   ECO_CATEGORY         162691 non-null  object
 9   LEASE_COMMENCE_DATA  162691 non-null  int64
 10  RESALE_PRICE         162691 non-null  float64
dtypes: float64(2), int64(1), object(8)
memory usage: 13.7+ MB

# MRT Station Dist

In [158]:
hdb_detail = pd.read_csv("../data/auxiliary-data/sg-hdb-block-details.csv")
hdb_detail.value_counts(['TOWN','BLOCK','ADDRESS'])

TOWN        BLOCK  ADDRESS
ang mo kio  101    ang mo kio avenue 3    1
sengkang    116C   rivervale drive        1
            117B   rivervale drive        1
            117C   rivervale drive        1
            119A   rivervale drive        1
                                         ..
geylang     87     circuit road           1
            9      eunos crescent         1
                   haig road              1
                   pine close             1
yishun      935    yishun central 1       1
Length: 9660, dtype: int64

In [159]:
hdb_detail.value_counts(['TOWN','BLOCK'])

TOWN             BLOCK
bukit merah      8        5
                 28       5
                 18       4
kallang/whampoa  12       4
bukit merah      38       4
                         ..
hougang          445      1
                 444      1
                 443      1
                 442      1
yishun           935      1
Length: 9088, dtype: int64

In [160]:
hdb_detail[(hdb_detail['TOWN'] == 'bukit merah') & (hdb_detail['BLOCK'] == '8')]

,TOWN,BLOCK,ADDRESS,POSTAL_CODE,LATITUDE,LONGITUDE,MAX_FLOOR,SUBZONE,PLANNING_AREA,REGION
132,bukit merah,8,kim tian place,163008,1.283030,103.827237,25,tiong bahru station,bukit merah,central region
3202,bukit merah,8,cantonment close,081008,1.275801,103.839033,30,everton park,bukit merah,central region
3238,bukit merah,8,telok blangah crescent,090008,1.277795,103.819341,10,telok blangah way,bukit merah,central region
8286,bukit merah,8,jalan rumah tinggi,150008,1.288576,103.807868,18,alexandra hill,bukit merah,central region
9250,bukit merah,8,jalan bukit ho swee,161008,1.287527,103.832020,9,bukit ho swee,bukit merah,central region

In [161]:
hdb_renamed = hdb_detail.rename(columns={'ADDRESS':'STREET'})

In [162]:
hdb_renamed.head()

,TOWN,BLOCK,STREET,POSTAL_CODE,LATITUDE,LONGITUDE,MAX_FLOOR,SUBZONE,PLANNING_AREA,REGION
0,woodlands,205,marsiling drive,730205,1.444946,103.773484,14,north coast,woodlands,north region
1,clementi,506,west coast drive,120506,1.312517,103.760867,12,clementi central,clementi,west region
2,sengkang,267B,compassvale link,542267,1.383200,103.897433,17,compassvale,sengkang,north-east region
3,woodlands,521,woodlands drive 14,730521,1.433716,103.793326,12,woodlands south,woodlands,north region
4,pasir ris,531,pasir ris drive 1,510531,1.371362,103.950398,8,pasir ris central,pasir ris,east region

In [163]:
df_dirty['STREET'] = df_dirty['STREET'].str.strip().str.lower()

In [164]:
df_dirty['STREET'].value_counts()

yishun ring road         2338
punggol drive            1713
bedok reservoir road     1691
punggol field            1559
ang mo kio avenue 10     1545
                         ...
kreta ayer road             6
seng poh road               4
sembawang way               4
margaret drive              3
geylang east avenue 2       2
Name: STREET, Length: 574, dtype: int64

In [165]:
# add latitude and longtitude
df_dirty = df_dirty.merge(
    hdb_renamed[['TOWN','BLOCK','STREET','LATITUDE','LONGITUDE']],
    on=['TOWN','BLOCK','STREET'],
    how='left'
)

In [166]:
df_dirty

,MONTH,TOWN,FLAT_TYPE,BLOCK,STREET,FLOOR_RANGE,FLOOR_AREA_SQM,FLAT_MODEL,ECO_CATEGORY,LEASE_COMMENCE_DATA,RESALE_PRICE,LATITUDE,LONGITUDE
0,2020-10,woodlands,4 room,681B,woodlands drive 62,07 to 09,102.0,premium apartment,uncategorized,2000,420000.0,1.439325,103.803324
1,2021-07,bishan,4 room,264,bishan street 24,07 to 09,104.0,model a,uncategorized,1992,585000.0,1.358659,103.842050
2,2021-05,bukit panjang,4 room,520,jelapang road,19 to 21,102.0,model a,uncategorized,1998,450000.0,1.386468,103.766508
3,2021-08,punggol,4 room,121B,edgedale plains,16 to 18,93.0,model a,uncategorized,2017,465000.0,1.393089,103.909042
4,2023-05,hougang,5 room,997B,buangkok crescent,10 to 12,113.0,improved,uncategorized,2018,710000.0,1.385902,103.881387
...,...,...,...,...,...,...,...,...,...,...,...,...,...
162686,2017-07,hougang,4-room,708,hougang avenue 2,01 to 03,91.0,new generation,uncategorized,1985,335000.0,1.366694,103.889093
162687,2020-09,pasir ris,4 room,634,pasir ris drive 1,04 to 06,104.0,model a,uncategorized,1995,388000.0,1.377579,103.940660
162688,2017-10,geylang,4-room,319,ubi avenue 1,10 to 12,84.0,simplified,uncategorized,1985,373000.0,1.328273,103.903594
162689,2020-08,sengkang,5 room,290B,compassvale crescent,01 to 03,110.0,improved,uncategorized,2001,420000.0,1.397033,103.897023
162690,2021-03,hougang,4 room,512,hougang avenue 10,01 to 03,84.0,simplified,uncategorized,1987,355000.0,1.371273,103.888620

In [167]:
df_dirty.shape

(162691, 13)

In [168]:
df_dirty.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 162691 entries, 0 to 162690
Data columns (total 13 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   MONTH                162691 non-null  object
 1   TOWN                 162691 non-null  object
 2   FLAT_TYPE            162691 non-null  object
 3   BLOCK                162691 non-null  object
 4   STREET               162691 non-null  object
 5   FLOOR_RANGE          162691 non-null  object
 6   FLOOR_AREA_SQM       162691 non-null  float64
 7   FLAT_MODEL           162691 non-null  object
 8   ECO_CATEGORY         162691 non-null  object
 9   LEASE_COMMENCE_DATA  162691 non-null  int64
 10  RESALE_PRICE         162691 non-null  float64
 11  LATITUDE             162691 non-null  float64
 12  LONGITUDE            162691 non-null  float64
dtypes: float64(4), int64(1), object(8)
memory usage: 17.4+ MB

In [191]:
count = df_dirty.isna().any(axis=1).sum()
print("Rows with at least one NaN:", count)

Rows with at least one NaN: 0

# Town

In [169]:
df_dirty['TOWN'].unique()

array(['woodlands', 'bishan', 'bukit panjang', 'punggol', 'hougang',
       'clementi', 'bedok', 'yishun', 'sengkang', 'queenstown',
       'bukit batok', 'pasir ris', 'toa payoh', 'geylang', 'tampines',
       'bukit merah', 'ang mo kio', 'sembawang', 'choa chu kang',
       'jurong west', 'kallang/whampoa', 'serangoon', 'central area',
       'jurong east', 'marine parade', 'bukit timah'], dtype=object)

In [170]:
df_dirty['TOWN'].value_counts()

sengkang           13335
punggol            11925
woodlands          11506
yishun             11175
tampines           11030
jurong west        10781
bedok               8457
hougang             8120
choa chu kang       7397
bukit batok         6733
ang mo kio          6623
bukit merah         6184
bukit panjang       5891
toa payoh           5182
kallang/whampoa     4994
sembawang           4828
pasir ris           4737
queenstown          4391
geylang             3995
clementi            3599
jurong east         3364
serangoon           2884
bishan              2872
central area        1286
marine parade       1001
bukit timah          401
Name: TOWN, dtype: int64

In [193]:
df_dirty['TOWN'].value_counts().shape

(26,)

# Flat Type

In [171]:
df_dirty['FLAT_TYPE'].unique()

array(['4 room', '5 room', '3 room', '5-room', '3-room', 'executive',
       '4-room', '2-room', '2 room', '1 room', 'multi generation',
       '1-room'], dtype=object)

In [172]:
df_dirty = df_dirty.replace({
        '5-room': '5 room',
        '4-room': '4 room',
        '3-room': '3 room',
        '2-room': '2 room',
        '1-room': '1 room',
    })

In [173]:
df_dirty['FLAT_TYPE'].unique()

array(['4 room', '5 room', '3 room', 'executive', '2 room', '1 room',
       'multi generation'], dtype=object)

# Block

In [174]:
df_dirty['BLOCK'].unique()

array(['681B', '264', '520', ..., '858B', '796A', '858A'], dtype=object)

In [175]:
df_dirty['BLOCK'].unique().shape

(2741,)

In [176]:
df_dirty['BLOCK'].value_counts()

1       494
2       478
8       442
9       425
101     411
       ...
795A      1
860A      1
464B      1
858B      1
858A      1
Name: BLOCK, Length: 2741, dtype: int64

# Street

In [177]:
df_dirty['STREET'].unique()

array(['woodlands drive 62', 'bishan street 24', 'jelapang road',
       'edgedale plains', 'buangkok crescent', 'clementi avenue 5',
       'fajar road', 'bedok north avenue 4', 'punggol east',
       'yishun avenue 4', 'fernvale road', 'dover crescent',
       'punggol central', 'bukit batok street 21', 'woodlands drive 14',
       'compassvale walk', 'pasir ris street 11', 'lorong 1a toa payoh',
       'woodlands avenue 1', 'ubi avenue 1', 'sumang walk',
       'punggol walk', 'punggol way', 'yishun ring road', 'ghim moh link',
       'potong pasir avenue 3', 'bedok north road', 'lorong 6 toa payoh',
       'yishun avenue 11', 'tampines street 82', 'telok blangah drive',
       'hougang avenue 9', 'bukit batok street 34',
       'ang mo kio avenue 10', 'canberra crescent', 'jalan membina',
       'ang mo kio avenue 3', 'keat hong close', 'jurong west street 61',
       'clementi avenue 3', 'tampines street 83', 'marsiling drive',
       'toa payoh north', 'choa chu kang avenue 1', 'tampines street 22',
       'woodlands street 13', 'rivervale crescent',
       'telok blangah heights', 'anchorvale lane', 'jalan tenteram',
       'tampines avenue 4', 'jurong west avenue 1', 'simei street 1',
       'geylang bahru', 'yishun street 61', 'woodlands street 82',
       'sembawang crescent', 'paya lebar way', 'hougang street 22',
       'pasir ris street 53', 'tampines street 91',
       'ang mo kio street 52', 'kallang bahru', 'stirling road',
       'hougang street 31', "saint george's lane", 'bedok north street 3',
       'choa chu kang street 52', 'choa chu kang central',
       'boon lay avenue', 'rivervale drive', 'strathmore avenue',
       'woodlands street 41', 'clementi avenue 4', 'tampines street 81',
       'kim tian road', 'tampines street 61', 'compassvale crescent',
       'punggol field', 'woodlands drive 42', 'bukit batok street 22',
       'choa chu kang north 5', 'lorong lew lian', 'senja road',
       'compassvale lane', 'jalan teck whye', 'clementi avenue 2',
       'anchorvale road', 'anchorvale crescent', 'tampines central 7',
       'yishun avenue 1', 'choa chu kang avenue 5', 'woodlands avenue 5',
       'yishun street 11', 'bishan street 22', 'bishan street 13',
       'jalan rajah', 'woodlands avenue 6', 'pasir ris street 51',
       'yishun street 81', 'jurong west street 65', 'lorong 8 toa payoh',
       'lorong 1 toa payoh', 'punggol place', 'lorong 7 toa payoh',
       'hougang street 61', 'pasir ris drive 4', 'serangoon avenue 3',
       'woodlands rise', 'sengkang east avenue', 'cantonment road',
       'chai chee street', 'wellington circle', 'choa chu kang street 53',
       'pasir ris street 21', 'circuit road', 'chai chee road',
       'boon keng road', 'ang mo kio avenue 4', 'hougang street 51',
       'chai chee avenue', 'fernvale street', 'edgefield plains',
       'ang mo kio avenue 5', 'woodlands drive 50', 'petir road',
       'serangoon north avenue 3', 'boon tiong road', 'yishun street 51',
       'hougang avenue 7', 'choa chu kang crescent', 'teban gardens road',
       'compassvale link', 'serangoon north avenue 4',
       'pasir ris drive 6', 'upper serangoon crescent',
       'potong pasir avenue 1', 'woodlands drive 16', 'margaret drive',
       'jurong west central 1', 'lorong 2 toa payoh', 'havelock road',
       'toa payoh east', 'mei ling street', 'simei lane',
       'jurong west street 93', 'jurong west street 62',
       'jurong east street 24', 'tampines street 41', 'sumang lane',
       'whampoa drive', 'woodlands ring road', 'bedok reservoir road',
       'bishan street 12', 'bukit batok street 25', 'compassvale street',
       'yung sheng road', 'bukit batok west avenue 5', 'redhill close',
       'dawson road', 'boon lay place', 'sin ming avenue',
       'kim keat link', 'keat hong link', 'choa chu kang avenue 4',
       'tampines street 33', 'punggol drive', 'clementi west street 2',
       'pending road', 'serangoon avenue 4', 'telok blangah street 31',
       'tampines street 86', 'woodlands drive 40', 'anchorvale drive',
       'fernvale link', 'woodlands drive 60', 'hougang avenue 6',
       'tampines avenue 5', 'jurong west street 41',
       'jurong east street 32', 'clementi avenue 1',
       'bukit batok east avenue 4', 'jalan bukit merah',
       'jurong west street 81', 'buangkok link', 'tampines street 71',
       'bedok north avenue 1', 'simei street 4', 'jurong west street 91',
       'hougang avenue 1', 'ang mo kio street 51', 'punggol road',
       'woodlands drive 75', 'dakota crescent', 'yishun avenue 5',
       'redhill road', 'bukit batok street 31', 'tampines street 34',
       'upper boon keng road', 'woodlands street 31', 'marine drive',
       'woodlands crescent', 'tampines street 11', 'tampines street 45',
       'bedok north street 2', 'upper aljunied lane', 'lengkok bahru',
       'marine crescent', 'boon lay drive', 'bukit batok street 24',
       'compassvale bow', 'tampines street 43', 'serangoon central',
       'tampines street 21', 'depot road', 'pandan gardens',
       'bedok north avenue 3', 'yuan ching road', 'fernvale lane',
       'hougang street 91', 'bukit batok street 33', 'sengkang central',
       'bukit batok west avenue 4', 'clementi west street 1',
       'bukit batok street 52', 'new upper changi road',
       'jurong west street 42', 'jurong west street 64',
       'yishun street 22', 'bukit batok east avenue 5',
       'tanglin halt road', 'bukit batok west avenue 8',
       'canberra street', 'lorong 4 toa payoh', 'marine terrace',
       'bukit panjang ring road', 'yishun avenue 7', 'jelebu road',
       'hougang avenue 10', 'choa chu kang avenue 7',
       'tampines north drive 1', 'sengkang west way', 'yishun street 31',
       'jurong west street 52', 'telok blangah crescent',
       'ang mo kio avenue 6', "saint george's road",
       'jurong east street 21', 'tampines street 12', 'compassvale drive',
       'jurong east street 13', 'sin ming road', 'west coast drive',
       'bishan street 11', 'tampines street 32', 'toh yi drive',
       'simei road', 'geylang east avenue 1', 'bukit purmei road',
       'teck whye avenue', 'choa chu kang street 62', 'toh guan road',
       'bedok reservoir crescent', 'anchorvale link',
       'serangoon north avenue 1', 'compassvale road',
       'tampines street 84', 'pasir ris street 71', 'pasir ris street 41',
       'pasir ris street 72', 'aljunied crescent', 'hougang street 21',
       'pasir ris drive 10', 'beo crescent', 'rivervale street',
       'woodlands circle', 'tanjong pagar plaza', 'bedok reservoir view',
       'admiralty link', 'tampines avenue 8', 'bedok north street 1',
       'ang mo kio avenue 1', 'hougang avenue 8',
       'choa chu kang avenue 2', 'segar road', 'sengkang east way',
       'yishun avenue 9', 'bangkit road', 'bukit batok east avenue 3',
       "king george's avenue", 'teck whye lane', 'serangoon avenue 2',
       "queen's close", 'bedok central', 'lorong 3 toa payoh',
       'jalan bahagia', 'pasir ris street 12', 'hougang street 11',
       'upper serangoon view', 'henderson crescent', 'canberra road',
       'woodlands drive 73', 'admiralty drive', 'sengkang west avenue',
       'choa chu kang street 51', 'hougang avenue 4',
       'bukit batok central', 'woodlands street 83',
       'jurong west avenue 5', 'bukit batok west avenue 6',
       'anchorvale street', 'mcnair road', 'marsiling lane',
       'choa chu kang avenue 3', 'sembawang drive', 'delta avenue',
       'balam road', 'lorong 5 toa payoh', 'eunos crescent',
       'jurong east street 31', 'bedok north avenue 2', 'ghim moh road',
       'bedok south avenue 2', 'bishan street 23', 'rivervale walk',
       'tampines avenue 1', 'tah ching road', 'yishun street 72',
       'lorong ah soo', 'bukit batok street 51', 'bukit merah view',
       'elias road', 'bukit batok west avenue 2', 'jurong east avenue 1',
       'jalan klinik', 'jurong west street 92', 'woodlands street 81',
       'jalan batu', 'shunfu road', 'bedok south road', 'eunos road 5',
       'montreal link', 'jurong west street 73', 'woodlands drive 72',
       'bedok north street 4', 'yishun street 41',
       'jurong west street 25', 'yishun avenue 6', 'hougang avenue 3',
       'lim liak street', 'jalan bukit ho swee', 'yishun street 21',
       'tampines street 23', 'hougang street 92', 'holland drive',
       'jurong west avenue 3', 'sembawang close', 'holland avenue',
       'tampines central 8', 'lompang road', 'canberra link',
       'commonwealth close', 'ang mo kio street 44', 'tampines street 72',
       'bedok south avenue 3', 'marsiling rise', 'holland close',
       'pasir ris drive 3', 'west coast road', 'upper serangoon road',
       'towner road', 'yishun street 43', 'woodlands avenue 3',
       'woodlands avenue 4', 'jellicoe road', 'bendemeer road',
       'lengkong tiga', 'bidadari park drive', 'woodlands drive 70',
       'queen street', 'commonwealth drive', 'marsiling road',
       'jalan kayu', 'yishun street 71', 'yishun avenue 3',
       'ang mo kio street 32', 'commonwealth crescent',
       'corporation drive', 'yung kuang road', 'yung an road',
       'cassia crescent', 'jurong west street 71', 'simei street 2',
       'gangsa road', 'choa chu kang loop', 'whampoa road',
       'choa chu kang north 6', 'yung loh road', 'ang mo kio street 31',
       'joo seng road', 'beach road', 'jalan rumah tinggi', 'jalan kukoh',
       'kang ching road', 'woodlands street 11', 'tampines avenue 7',
       'buangkok green', 'tampines avenue 9', 'montreal drive',
       'telok blangah way', 'serangoon avenue 1', 'teck whye crescent',
       'empress road', 'geylang east central', 'woodlands street 32',
       'ang mo kio avenue 8', 'jalan tenaga', 'bukit batok west avenue 9',
       'woodlands drive 44', 'spottiswoode park road', 'geylang serai',
       'jalan dusun', 'dover road', 'choa chu kang drive',
       'yishun central', 'pasir ris street 52', "jalan ma'mor",
       'sengkang east road', 'bedok south avenue 1', 'farrer road',
       'bukit batok street 11', 'clementi street 14', 'kim keat avenue',
       'yung ho road', 'lorong limau', 'hougang avenue 5',
       'serangoon north avenue 2', 'chai chee drive', 'klang lane',
       "queen's road", 'pine close', 'henderson road', 'senja link',
       'bukit batok west avenue 7', 'commonwealth avenue',
       'new market road', 'jurong west central 3', 'farrer park road',
       'canberra walk', 'choa chu kang street 64', 'tampines street 42',
       'buffalo road', 'jalan damai', 'serangoon central drive',
       'alkaff crescent', 'hougang avenue 2', 'ang mo kio street 11',
       'bukit batok street 41', 'woodlands drive 53',
       'woodlands drive 52', 'ang mo kio avenue 9',
       'jurong west street 24', 'punggol field walk',
       'jurong west street 74', 'old airport road', 'sumang link',
       'race course road', 'tampines street 44', 'jalan berseh',
       'tampines street 24', 'clementi avenue 6', 'pasir ris drive 1',
       'yishun avenue 2', 'sengkang west road', 'hougang central',
       'yung ping road', 'cantonment close', 'everton park',
       'redhill lane', 'whampoa west', 'clementi street 13',
       'bain street', 'commonwealth avenue west', 'haig road',
       'sims place', 'waterloo street', 'joo chiat road',
       'toa payoh central', 'taman ho swee', 'jurong west street 75',
       'kim tian place', 'sago lane', 'sembawang vista',
       'potong pasir avenue 2', 'changi village road', 'lorong 3 geylang',
       'marsiling crescent', 'yishun street 44', 'silat avenue',
       'jalan dua', 'choa chu kang street 54', 'macpherson lane',
       'tessensohn road', 'cambridge road', 'ang mo kio street 21',
       'tao ching road', 'sims drive', 'kelantan road', 'jalan tiga',
       'cashew road', 'kim pong road', 'crawford lane',
       'bukit merah central', 'ho ching road', 'queensway',
       'hoy fatt road', 'woodlands drive 71', 'clarence lane',
       'tampines central 1', 'veerasamy road', 'kim cheng street',
       'kent road', 'ah hood road', 'north bridge road',
       'clementi street 11', 'telok blangah rise',
       'bukit batok east avenue 6', 'whampoa south',
       'bukit batok street 32', 'gloucester road', 'selegie road',
       'saujana road', 'rowell road', 'yishun street 20',
       'kampong kayu road', 'hougang street 32', 'jurong west street 72',
       'bright hill drive', 'zion road', 'pasir ris street 13',
       'hougang street 52', 'upper cross street', 'chander road',
       'choa chu kang north 7', 'sims avenue', 'seng poh road',
       'moulmein road', 'kampong arang road', 'pipit road', 'dorset road',
       'kreta ayer road', 'northshore drive', 'moh guan terrace',
       'indus road', 'woodlands avenue 9', 'simei street 5',
       'bukit merah lane 1', 'tiong bahru road', 'chin swee road',
       'french road', 'aljunied road', 'smith street',
       'jurong west street 51', 'yishun central 1', 'yishun street 42',
       'owen road', 'dover close east', 'ang mo kio street 61',
       'clementi street 12', 'canberra view', 'lower delta road',
       'ang mo kio avenue 2', 'geylang east avenue 2', 'sembawang way'],
      dtype=object)

In [178]:
df_dirty['STREET'].unique().shape

(574,)

In [179]:
df_dirty['STREET'].value_counts()

yishun ring road         2338
punggol drive            1713
bedok reservoir road     1691
punggol field            1559
ang mo kio avenue 10     1545
                         ...
kreta ayer road             6
seng poh road               4
sembawang way               4
margaret drive              3
geylang east avenue 2       2
Name: STREET, Length: 574, dtype: int64

# Floor Range

In [180]:
temp = df_dirty['FLOOR_RANGE'].unique()
temp.sort()
temp

array(['01 to 03', '04 to 06', '07 to 09', '10 to 12', '13 to 15',
       '16 to 18', '19 to 21', '22 to 24', '25 to 27', '28 to 30',
       '31 to 33', '34 to 36', '37 to 39', '40 to 42', '43 to 45',
       '46 to 48', '49 to 51'], dtype=object)

In [181]:
df_dirty['FLOOR_RANGE'].value_counts()

04 to 06    37358
07 to 09    34103
10 to 12    30239
01 to 03    28682
13 to 15    15812
16 to 18     7342
19 to 21     3147
22 to 24     2212
25 to 27     1392
28 to 30      887
31 to 33      473
34 to 36      426
37 to 39      359
40 to 42      158
43 to 45       52
46 to 48       35
49 to 51       14
Name: FLOOR_RANGE, dtype: int64

# Flat Model

In [182]:
df_dirty['FLAT_MODEL'].unique()

array(['premium apartment', 'model a', 'improved', 'new generation',
       'standard', 'maisonette', 'dbss', 'simplified', 'apartment',
       'model a2', 'type s1', 'adjoined flat', 'model a maisonette',
       'type s2', '3gen', '2 room', 'terrace', 'premium apartment loft',
       'premium maisonette', 'multi generation', 'improved maisonette'],
      dtype=object)

In [183]:
df_dirty['FLAT_MODEL'].value_counts()

model a                   57927
improved                  39796
new generation            19908
premium apartment         18115
simplified                 6177
apartment                  5892
maisonette                 4524
standard                   4364
dbss                       2607
model a2                   1861
adjoined flat               290
model a maisonette          281
type s1                     272
2 room                      225
type s2                     133
premium apartment loft       91
terrace                      85
multi generation             68
3gen                         41
improved maisonette          21
premium maisonette           13
Name: FLAT_MODEL, dtype: int64

In [184]:
df_encoded = pd.get_dummies(df_dirty, columns=['FLAT_TYPE'])

In [185]:
df_encoded

,MONTH,TOWN,BLOCK,STREET,FLOOR_RANGE,FLOOR_AREA_SQM,FLAT_MODEL,ECO_CATEGORY,LEASE_COMMENCE_DATA,RESALE_PRICE,LATITUDE,LONGITUDE,FLAT_TYPE_1 room,FLAT_TYPE_2 room,FLAT_TYPE_3 room,FLAT_TYPE_4 room,FLAT_TYPE_5 room,FLAT_TYPE_executive,FLAT_TYPE_multi generation
0,2020-10,woodlands,681B,woodlands drive 62,07 to 09,102.0,premium apartment,uncategorized,2000,420000.0,1.439325,103.803324,0,0,0,1,0,0,0
1,2021-07,bishan,264,bishan street 24,07 to 09,104.0,model a,uncategorized,1992,585000.0,1.358659,103.842050,0,0,0,1,0,0,0
2,2021-05,bukit panjang,520,jelapang road,19 to 21,102.0,model a,uncategorized,1998,450000.0,1.386468,103.766508,0,0,0,1,0,0,0
3,2021-08,punggol,121B,edgedale plains,16 to 18,93.0,model a,uncategorized,2017,465000.0,1.393089,103.909042,0,0,0,1,0,0,0
4,2023-05,hougang,997B,buangkok crescent,10 to 12,113.0,improved,uncategorized,2018,710000.0,1.385902,103.881387,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162686,2017-07,hougang,708,hougang avenue 2,01 to 03,91.0,new generation,uncategorized,1985,335000.0,1.366694,103.889093,0,0,0,1,0,0,0
162687,2020-09,pasir ris,634,pasir ris drive 1,04 to 06,104.0,model a,uncategorized,1995,388000.0,1.377579,103.940660,0,0,0,1,0,0,0
162688,2017-10,geylang,319,ubi avenue 1,10 to 12,84.0,simplified,uncategorized,1985,373000.0,1.328273,103.903594,0,0,0,1,0,0,0
162689,2020-08,sengkang,290B,compassvale crescent,01 to 03,110.0,improved,uncategorized,2001,420000.0,1.397033,103.897023,0,0,0,0,1,0,0
162690,2021-03,hougang,512,hougang avenue 10,01 to 03,84.0,simplified,uncategorized,1987,355000.0,1.371273,103.888620,0,0,0,1,0,0,0

Variants of the same type

model a vs. model a maisonette (the latter is really just a maisonette under Model A scheme).

premium apartment, premium apartment loft, premium maisonette â†’ all â€œpremiumâ€ flats, but appear as separate categories. Decide if you want them merged or treated separately (depends on analysis).

Rare / legacy models

type s1, type s2, adjoined flat, terrace are quite rare.

May cause class imbalance issues if used directly in ML.

DBSS vs. 3Gen vs. Multi-Generation

These are unique categories; they should stay separate, but theyâ€™re very infrequent in the dataset.

You may need to group them as "Others" if they appear <1% of cases.

# Eco Category

In [186]:
df_dirty['ECO_CATEGORY'].unique()

array(['uncategorized'], dtype=object)

In [187]:
df_dirty = df_dirty.drop('ECO_CATEGORY', axis=1)

In [188]:
df_dirty

,MONTH,TOWN,FLAT_TYPE,BLOCK,STREET,FLOOR_RANGE,FLOOR_AREA_SQM,FLAT_MODEL,LEASE_COMMENCE_DATA,RESALE_PRICE,LATITUDE,LONGITUDE
0,2020-10,woodlands,4 room,681B,woodlands drive 62,07 to 09,102.0,premium apartment,2000,420000.0,1.439325,103.803324
1,2021-07,bishan,4 room,264,bishan street 24,07 to 09,104.0,model a,1992,585000.0,1.358659,103.842050
2,2021-05,bukit panjang,4 room,520,jelapang road,19 to 21,102.0,model a,1998,450000.0,1.386468,103.766508
3,2021-08,punggol,4 room,121B,edgedale plains,16 to 18,93.0,model a,2017,465000.0,1.393089,103.909042
4,2023-05,hougang,5 room,997B,buangkok crescent,10 to 12,113.0,improved,2018,710000.0,1.385902,103.881387
...,...,...,...,...,...,...,...,...,...,...,...,...
162686,2017-07,hougang,4 room,708,hougang avenue 2,01 to 03,91.0,new generation,1985,335000.0,1.366694,103.889093
162687,2020-09,pasir ris,4 room,634,pasir ris drive 1,04 to 06,104.0,model a,1995,388000.0,1.377579,103.940660
162688,2017-10,geylang,4 room,319,ubi avenue 1,10 to 12,84.0,simplified,1985,373000.0,1.328273,103.903594
162689,2020-08,sengkang,5 room,290B,compassvale crescent,01 to 03,110.0,improved,2001,420000.0,1.397033,103.897023
162690,2021-03,hougang,4 room,512,hougang avenue 10,01 to 03,84.0,simplified,1987,355000.0,1.371273,103.888620

# Lease commence data

In [189]:
temp = df_dirty['LEASE_COMMENCE_DATA'].unique()
temp.sort()
temp

array([1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976,
       1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987,
       1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998,
       1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
       2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
       2021, 2022], dtype=int64)

In [190]:
df_dirty.shape

(162691, 12)